*{
    border: 0px;
    margin: 0px;
    user-select: none;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");
}
a{
    text-decoration: none;
}

p{
    user-select:text;
    font-family: 'Marhey', cursive;
}

@keyframes cohete {
    from {
        transform: translate(0,25vh);
    }
    to {
        transform: translate(0,0vh);

    }
}
@keyframes piezas {
    from {
        transform: translate(0,25vh);
    }
    to {
        transform: translate(0,0vh);
        opacity: 1;

    }
}

#header{
    width: 100%;
    height: 6vh;
    background: #2e2559;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#headerBtns{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
#headerBtns a{
    width: 100%;
    text-align:center;
}
#headerBtns a:hover{
    background: #161322;
}

#headerBtns p{
    color: white;
    font-size: 1.7vw;
    font-weight: 600;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11vh;
    background: #2e2559;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#footerBtns{
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: center;
}
#footerBtns a{
    width: 100%;
    text-align: center;
}
#footerBtns a:hover{
    background: #161322;

}

#footerBtns p{
    color: white;
    font-size: 1vw;
    font-weight: 600;

}

#content{
    height: 83vh;
    display: flex;
    width: 80%;
    
}
.colPieza{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.colFlecha{
    opacity: 1;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-name: piezas;
    animation-duration: 4s;
}
.colFlecha img{
    width: 100%;
}
.flechaInvert{
    transform: scale(-1,-1);
    
}

.colRocket{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: cohete;
    animation-duration: 2s;
}
.colRocket img{
    width: 90%;
    height: 90%;
}

.pieza{
    opacity: 1;
    height: 40%;
    text-align: center;
    animation-name: piezas;
    animation-duration: 4s;

}
.pieza img{
    width: 80%;
}
.pieza p{
    color: white;
    font-size: 0.9vw;
}

img{
    width: 20px;
}